@{
    Layout = "_Layout";
}

@model HairSalon.Models.Stylist
@using HairSalon.Models

<h1>Stylist</h1>
<hr />
<div id="stylist-deets">
    <h3 class="display-name">@Html.DisplayFor(model => model.Name)<h3>

    @if (@Model.Clients.Count == 0)
            {
                        <h3>No Clients have been added to this Stylist yet!</h3>
            }
            else
            {
                        <h3>Clients:</h3>
                        <ul class="client-stylist-link">
                    @foreach (Client client in Model.Clients)
                    {
                                            <li class="list-margins">@Html.ActionLink($"{client.Name}", "Details", "clients", new { id = client.ClientId })</li>
                    }
                        </ul>
            }
</div>


<div id="links">
    <p>@Html.ActionLink("Add a Client", "Create", "Client")</p>
    <p>@Html.ActionLink("Back to Stylists list", "Index")</p>
</div>