@{
    Layout = "_Layout";
}

@model HairSalon.Models.Client

<h4>Add a new Client</h4>

<p><strong>NOTE:</strong> You need to have at least one Stylist in order to add a Client.</p>
<p>Click <span id="inner-nav-link">@Html.ActionLink("HERE", "Create", "Stylists")</span> to add a Stylist.</p>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.LabelFor(model => model.PhoneNumber)
    @Html.TextBoxFor(model => model.PhoneNumber)

    @Html.LabelFor(model => model.Stylist)
    @Html.DropDownList("StylistId")

    <input type="submit" value="Add new Client" />
}

<div id="links">
    <p>@Html.ActionLink("Show all Clients", "Index")</p>
    <p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>